.StatusIcon {
  width: 30px;
  height: 30px;
}

.Icon,
.Icon:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.Icon {
  margin: 0 auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  border: 1.1em solid #f0f0f0;
}

.Searching{
  border-top: 1.1em solid rgba(192,47,86, 0.2);
  border-right: 1.1em solid rgba(192,47,86, 0.2);
  border-bottom: 1.1em solid rgba(192,47,86, 0.2);
  border-left: 1.1em solid #c02f56;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.Success {
  border-color: #5cc670;
}

.Error {
  border-color: #e00b0b;
}


@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 
.Icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d6d4d4;
  position: relative;
  right: -5px;
}

.Icon::after,
.Icon::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-name: burst;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background-color: #d6d4d4;
}

.Icon::after {
  z-index: 1;
}

.Icon::before {
  z-index: 2;
}

.Idle,
.Idle::after,
.Idle::before {
  background-color: #f0f0f0;
}

.Searching,
.Searching::after,
.Searching::before {
  background-color: #feb009;
}

.Success,
.Success::after,
.Success::before {
  background-color: #5cc670;
}

.Error,
.Error::after,
.Error::before {
  background-color: #e00b0b;
}

@keyframes burst {
  0%{
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
} */
