.Module {
  margin: 0 auto 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.Module *,
.Module *::after,
.Module *::before {
  /*margin: 0;
  padding: 0;*/
  box-sizing: inherit;
  font-family: 'Lato','Arial', sans-serif !important;
}

.Search {
  padding: 25px;
  background-color: #f0f0f0;
}

.SearchHeading {
  font-size: 14px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.SearchBlurb {
  font-size: 13px;
  color: #5b5b5b;
  font-style: italic;
  margin-top: 5px;
}

.Cards {

}

.Monographs {

}

.Alert {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-left: solid 7px #feb009;
  background-color: #f7eacf;
  display: none;
}

.Visible {
  display: block;
}


.Icon {
  width: 40px;
  fill: #c02f57;
}

.PIinfo {
  padding: 10px 20px;
  border: solid 1px #e5cb4e;
  border-top: none;
  display: inline-block;
  cursor: pointer;
}

.PIinfo > div{
  display: inline-block;
  vertical-align: top;
}

.PIinfo > div:first-child{
  margin-right: 10px;
}

.PItitle {
  text-transform: uppercase;
  color: #005093;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 17px;
}

.PItitleAlt {
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #989898;
}

.DownloadTxt{
  text-transform: uppercase;
  color: #c1c1c1;
  font-size: 13px;
  line-height: 13px;
  font-style: italic;
  margin-top: 3px;
}
