.Monograph {
  background-color: #f6fbfe;
  box-shadow: 0 0 5px #c4c2c2;
  border-bottom: solid 7px #005093;
  margin-top: 20px;
}

.Monograph em{
  background-color: #edf095;
}

.Header {
  padding: 25px 25px 0;
  position: relative;
}

.Heading {
  font-size: 18px;
  color: #005093;
  padding: 0;
  margin: 0;
}

.HeadingTag {
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 300;
  font-style: italic;
}

.Accordians {
  padding: 0 25px 25px;
}
